{
  "extends": ["react-app"],
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "import/no-webpack-loader-syntax": 0,
    "prettier/prettier": "error"
  }
}